{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Player Information</H1> <br>
{% if college_attended == ' ' %}
<H2>College Attended: Player didnt go to college</H2> <br>
{% else %}
<H2>College Attended: {{ college_attended }}</H2> <br>
{% endif %}
<H2>Player Name: {{ player_name}}</H2> <br>
<H2>Highschool_attended: {{ highschool_attended}}</H2> <br>
<H2>Years Pro: {{ years_pro}}</H2> <br>
<H2>Draft Year: {{ draft_year}}</H2> <br>

</body>
</html>
{% endblock %}